@charset "utf-8";
/* CSS Document Font General*/
div.containerBoard > div.writingBoard{/* Header del tablero del escritura pizarra*/
  font-family: 'Indie Flower', cursive;
}
#date{
  font-size: 1.5em;/* Date */
}
#icono{
  font-size: 2.5em;/* Date */
}
equipo{
  font-size: 1.2em;
}
